.about_pic {
    width: 99%;
    border: 2px groove grey;
}

.about_title {
    text-align: center;
    font-size: 30px;
    font-family: 'Merriweather', serif;
}

.column {
    float: left;
    width: 30%;
    margin-bottom: 16px;
    padding: 0 10px;
}

@media (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

.card {
    border: 1px solid black;
    box-shadow: 10px 0 8px -8px black, -10px 0 8px -8px black;
}

.card_name {
    font-family: 'Merriweather', sans-serif;
    width: 90%;
    margin: 10px auto;
}

.card p {
    padding: 5px;
    font-family: 'Roboto', sans-serif;
}

.container {
    padding: 0px 10px;
}